/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .grid-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.sidebar {
  padding: 1.5rem;
  background: #eee;
}

.main {
  padding: 1.5rem;
}

.user {
  text-align: center;
}
.user h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 1.2rem;
}
.user p {
  margin-bottom: 0.8rem;
}
.user .avatar {
  border-radius: 50%;
  width: 250px;
}
.user .infos {
  text-align: left;
  padding: 1.2rem 0 0.4rem 0;
}
.user .info {
  display: flex;
}
.user .info svg {
  color: #111;
  margin-right: 1rem;
}

.skills {
  margin: 1.2rem 0;
}
.skills h2 {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.skills p {
  width: 50%;
  margin: 10px 0;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 8px;
  background-color: #777;
}
.skill .circle-plain {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 8px;
  background-color: #ccc;
}

.interests {
  margin: 1.2rem 0;
}
.interests h2 {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.interests li {
  width: 70%;
  margin: 12px 0;
}

.formations h3 {
  font-size: 1.1rem;
}
.formations .grid-row {
  padding: 4px 0 0 4px;
}
.formations .grid-item, .formations .grid-item p {
  margin-bottom: 0.8rem;
}
.formations .grid-date {
  text-decoration: underline;
}
.formations .grid-title {
  margin-bottom: 0;
}
.formations .grid-location {
  color: #00bec0;
}

.experiences h3 {
  font-size: 1.1rem;
}
.experiences .grid-row {
  padding: 4px 0 0 4px;
}
.experiences .grid-item, .experiences .grid-item p {
  margin-bottom: 0.8rem;
}
.experiences .grid-date {
  text-decoration: underline;
}
.experiences .grid-title {
  margin-bottom: 0;
}
.experiences .grid-location {
  color: #00bec0;
}
.experiences .grid-mission {
  margin: 10px 0;
  list-style: inside;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
  color: #111;
}

h1,
h2,
h3 {
  margin-bottom: 0.4rem;
  font-weight: 400;
  color: #111;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 24px 0;
  text-transform: uppercase;
}

.dark body {
  background-color: #111;
  color: #f4f4f4;
}
.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark li,
.dark a,
.dark p.info svg {
  color: #f4f4f4;
}
.dark .sidebar {
  background: #111;
}
.dark .main {
  background-color: #333;
}
.dark p.grid-location {
  color: #e6ef71;
}
.dark .pdf {
  color: #f4f4f4;
}

#darkMode {
  background: transparent;
  border: none;
}

.button-action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdf {
  background-color: transparent;
  border: none;
  color: #111;
  font-weight: bold;
}/*# sourceMappingURL=index.css.map */