.interests{
    h2{
        display: flex;
        align-items: center;
        margin:  $space-4 0;
        letter-spacing: 4px;
        text-transform: uppercase;
        
    }

    li{
        width: 70%;
        margin: 12px 0;
    }

    margin: $space-3 0;


}